<ng-container *ngIf="showDetails == false || getScreenWidth > 768">
  <!-- AppHeader -->
  <header class="e-app-header">
    <div class="e-app-header-content">
      <!-- Content on Left -->
      <div class="e-d-flex e-gap-xy e-align-items-center">
        <i class="material-icons-outlined">menu</i>
        <img src="../../assets/eModal-Logo.svg" alt="" />
        <h5 class="e-app-title">Manage Drivers</h5>
      </div>

      <!-- Content on right -->
      <div class="e-d-flex e-gap-xy secondary-text-color">
        <i class="material-icons-outlined">notifications</i>
        <i class="material-icons-outlined">shopping_cart</i>
        <i class="material-icons-outlined">settings</i>
        <i class="material-icons-outlined">help_outline</i>
        <i class="material-icons-outlined">account_circle</i>
      </div>
    </div>
  </header>

  <!-- Breadcrumbs -->
  <div class="e-breadcrumbs">
    <div class="e-breadcrumbs-content e-d-flex e-align-items-center">
      <a href="">Home</a>
      <i class="material-icons-outlined">chevron_right</i>
      <span>Manage Drivers</span>
    </div>
  </div>

  <!-- Actions Bar -->
  <div class="e-actions-bar">
    <section>
      <div class="example-button-row">
        <button mat-raised-button class="e-btn-primary" (click)="openDialog()">
          Add Driver
        </button>
      </div>
    </section>
  </div>

  <!-- Main Content Wrapper -->
  <div class="e-main-content-wrapper">
    <!-- List Panel -->
    <div class="e-list-panel">
      <!-- Search & Sort Bar -->
      <app-e-search-bar class="e-w-100"></app-e-search-bar>

      <!-- List Group  -->
      <app-e-driver-list class="e-list-group e-w-100"></app-e-driver-list>
    </div>

    <!-- Details Panel -->
    <div class="e-details-panel e-justify-between">
      <!-- Driver Info - Header -->
      <app-e-driver-details-top></app-e-driver-details-top>

      <!-- Tabs - Contract, License and Company Info -->
      <app-e-driver-details-tab></app-e-driver-details-tab>
    </div>
  </div>
</ng-container>
<app-e-driver-details-responsive></app-e-driver-details-responsive>
