<div class="e-details-tabs e-d-flex"></div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>

  <!-- Contract Info Tab -->

  <mat-tab class="e-mat-tab-label" label="Contract Info">
    
    <div class="e-tabs-content e-row-column-gap">
      
      <div class="e-section-icon-title e-border-bottom">

        <div class="e-d-flex e-row-column-gap e-align-items-center">
          <i class="material-icons-outlined e-details-section-title">today</i>
          <span class="e-details-section-title">Contract Dates</span>
        </div>
        <img class="e-mb-16 e-tab-section-contract-arrow" src="../assets/contract-arrow.png" alt="Contract Arrow">
        <div class="e-d-flex e-column-gap-48 e-tab-section-content">
          <div class="e-d-flex e-flex-column e-row-gap-6">
            <span class="e-label">Begin Date</span>
            <span class="e-value">12/29/2022</span>
          </div>
          <div class="e-d-flex e-flex-column e-row-gap-6">
            <span class="e-label">End Date</span>
            <span class="e-value">12/29/2022</span>
          </div>
  
        </div>

      </div>
      

    <!-- ----------------- -->

    <div class="e-section-icon-title e-border-bottom"> 
      <div class="e-d-flex e-row-column-gap e-align-items-center">
        <i class="material-icons-outlined mx-2 e-details-section-title">card_membership</i>
        <span class="e-details-section-title">Driver Certifications</span>
      </div>
      <div class="e-d-flex e-row-column-gap e-tab-section-content">
        
        <mat-chip class="e-chip-neutral"> Class A </mat-chip>
        <mat-chip class="e-chip-neutral"> Class B </mat-chip>
        <mat-chip class="e-chip-neutral"> Class C </mat-chip>
        <mat-chip class="e-chip-neutral"> Hazardous</mat-chip>
       
    
      </div>
    </div> 
      
      <!-- ----------------- -->


    <div class="e-section-icon-title ">   
      <div class="e-d-flex e-row-column-gap e-align-items-center">
        <i class="material-icons-outlined mx-2 e-details-section-title"
          >directions_boat</i
        >
        <span class="e-details-section-title">Ports of Call</span>
      </div>

      <div class="e-d-flex e-row-column-gap e-tab-section-content">
        
        <mat-chip class="e-chip-neutral"> Port of Oakland </mat-chip>
        <mat-chip class="e-chip-neutral"> Port of Baltimore </mat-chip>
        <mat-chip class="e-chip-neutral"> SC State Ports Authority </mat-chip>
  
      </div>
      
    </div>
  </div>
  </mat-tab>

  <!-- License Info Tab -->

  <mat-tab label="License Info">
    <div class="e-tabs-content">
      <div class="e-d-flex e-align-items-center e-row-column-gap e-border-bottom e-section-title">
        <i class="material-icons-outlined mx-2 success-color">check_circle</i>
        <span class="e-text">Driver has TWIC Card</span>
      </div>

      <!-- ----------------- -->

      <div>
        <span>4 Licenses</span>
      </div>

      <!-- Each License -->
      <ng-container>
        <div>
          <div>
            <span>E216814008329</span>
            <div>
              <span>Exp Dt</span>
              <span>05/25/2026</span>
            </div>
          </div>
          <div>
            <span>State</span>
            <span>LA</span>
          </div>
          <div>
            <span>Country</span>
            <span>US</span>
          </div>
        </div>
        
        <!-- ----------------- -->

      </ng-container>
    </div>
  </mat-tab>

  <!-- Company Info Tab -->

  <mat-tab label="Company Info">
    <div>
      <!-- Each Company -->
      <ng-container>
        <div>
          <div>
            <span>PCI Logistics, CA</span>
            <div>
              <span>Logistics Company</span>
            </div>
          </div>

          <div>
            <span>Active</span>
          </div>
          <div>
            <span>Inactive</span>
          </div>
        </div>
        
        <!-- ----------------- -->

      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
