<div class="e-details-tabs e-d-flex"></div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
  <mat-tab class="mat-tab-label" label="Contract Info">
    <div>
      <div>
        <i class="material-icons-outlined mx-2 text-secondary">today</i>
        <span>CONTRACT DATES</span>
      </div>
      <div>
        <div>
          <span>Begin Date</span>
          <span>12/29/2022</span>
        </div>
        <div>
          <span>End Date</span>
          <span>12/29/2022</span>
        </div>
      </div>
      <hr />
      <div>
        <i class="material-icons-outlined mx-2 text-secondary"
          >card_membership</i
        >
        <span>DRIVER CERTIFICATIONS</span>
      </div>
      <div>
        <span>Class A</span>
        <span>Class B</span>
        <span>Class C</span>
        <span>Hazardous</span>
      </div>
      <hr />
      <div>
        <i class="material-icons-outlined mx-2 text-secondary"
          >directions_boat</i
        >
        <span>PORTS OF CALL</span>
      </div>
      <div>
        <span>Port of Oakland</span>
        <span>Port of Baltimore</span>
        <span>SC State Ports Authority</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="License Info">
    <div>
      <div>
        <i class="material-icons-outlined mx-2 text-success">check_circle</i>
        <span>Driver has TWIC Card</span>
      </div>

      <hr />

      <div>
        <span>4 Licenses</span>
      </div>

      <!-- Each License -->
      <ng-container>
        <div>
          <div>
            <span>E216814008329</span>
            <div>
              <span>Exp Dt</span>
              <span>05/25/2026</span>
            </div>
          </div>
          <div>
            <span>State</span>
            <span>LA</span>
          </div>
          <div>
            <span>Country</span>
            <span>US</span>
          </div>
        </div>
        <hr />
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Company Info">
    <div>
      <!-- Each Company -->
      <ng-container>
        <div>
          <div>
            <span>PCI Logistics, CA</span>
            <div>
              <span>Logistics Company</span>
            </div>
          </div>

          <div>
            <span>Active</span>
          </div>
          <div>
            <span>Inactive</span>
          </div>
        </div>
        <hr />
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
